# Nuxt App Configuration
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_SITE_NAME=NTL - Nova Tecnologia

# Contact Information
NUXT_PUBLIC_CONTACT_EMAIL=contato@ntl.com.br
NUXT_PUBLIC_CONTACT_PHONE=+55 21 XXXX-XXXX

# Social Media (opcional)
NUXT_PUBLIC_LINKEDIN_URL=
NUXT_PUBLIC_FACEBOOK_URL=
NUXT_PUBLIC_INSTAGRAM_URL=

# Analytics (opcional)
NUXT_PUBLIC_GA_ID=
